<!DOCTYPE html>
<html lang="en">
<head>
   <!-- <link rel="stylesheet" href="../../public/styles/base.css"> -->
   <link rel="stylesheet" href="../../public/styles/modules.css" type="text/css">
    <title>search field</title>
</head>
<body>
    <h1>hello</h1>
    
    <form action="/searches" method="POST">
<fieldset>
    <label for="">Search by Title or Author</label>
    <input type="text"  name="input" placeholder="Enter a title or author" required="required">
    <input type="radio" name="searchBy"value="title " required="required">Title <br>
    <input type="radio" name="searchBy" value="Author"   > Author <br>
    <input class="submit"type="submit">
</fieldset>
    </form>
</body>
</html>