@media (min-width: 960px) {
    .continer{
        width: 960px;
    }
}
@media (min-width: 767px) {
    .continer{
        width: 960px;
    }
}
@media (min-width: 880px){
    .continer{
        width: 960px;
    }  
}
body{
    display: grid;
    background-color: rgba(28, 104, 167, 0.281);
    
} 